table {
    width: 100%;
}

.sugerido {
    color: darkmagenta;
}

.publicado {
    color: mediumpurple;
}

.costo {
    color: darkturquoise;
}

.envio {
    color: lightcoral;
}

.centrar {
    justify-content: center;
}

.ganancia {
    color: darkorange;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
